<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="../../assets/css/register.component.css">
    <title>Hello, world!</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#"><img src="../../assets/img/logo.png" id="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/adminhome">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                            <a class="nav-link" href="/addcourse">Add Course <span class="sr-only">(current)</span></a>
                        </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/viewcourses">View All Courses</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <a href="/logout">Logout</a>
                </form>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <section id="main">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Course Id</th>
                        <th scope="col">Course Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Total Duration</th>
                        <th scope="col" colspan="2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let course of courses'>
                        <td>{{course.courseId}}</td>
                        <td>{{course.courseName}}</td>
                        <td>{{course.category}}</td>
                        <td>{{course.totalDuration}}</td>
                        <td><button class="btn btn-info" (click)="viewChapters(course.courseId)">View Chapters</button></td>
                        <td><button class="btn btn-danger" (click)="deleteCourse(course.courseId)">Delete Course</button></td>
                    </tr>    
                </tbody>
            </table>
        </section>
    </div>
    <br>
    <br>
    <br>
    <div class="footer">
        <div class="row">
            <div class="col-sm-4">
                <nav class="nav flex-column nav-links">
                    <a class="nav-link active" href="#">About us</a>
                    <a class="nav-link" href="#">Gallery</a>
                    <a class="nav-link" href="#">Courses</a>
                    <a class="nav-link" href="#">Contact us</a>
                </nav>
            </div>
            <div class="col-sm-4">
                <nav class="nav flex-column nav-links">
                    <a class="nav-link active" href="#">Career</a>
                    <a class="nav-link" href="#">Blogs</a>
                    <a class="nav-link" href="#">Help Center</a>
                    <a class="nav-link" href="#">Site map</a>
                </nav>
            </div>
            <div class="col-sm-4">
                <img src="../../assets/img/logo.png" id="logo">
            </div>
        </div>
        <p style="text-align: center;">
            Copyright © 2019 EduCenter, Inc.
        </p>
    </div>
    <div class="center">

    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>